* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: rgba(0,0,0,0.3);
}

.logo {
  font-size: 24px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ffeb3b;
}

/* Hero Section */
.hero {
  text-align: center;
  margin-top: 120px;
}

.hero h2 {
  font-size: 42px;
}

.hero p {
  margin: 20px 0;
  font-size: 18px;
}

.hero button {
  padding: 12px 25px;
  font-size: 16px;
  background: #ffeb3b;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s;
}

.hero button:hover {
  background: white;
}
/* Contact Section */
.contact {
  max-width: 500px;
  margin: 80px auto;
  background: rgba(0,0,0,0.3);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.contact h2 {
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 20px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contact textarea {
  height: 100px;
}

.contact button {
  width: 100%;
  padding: 12px;
  background: #ffeb3b;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.contact button:hover {
  background: white;
}

#successMsg {
  margin-top: 15px;
  color: #00ffcc;
}
/* Contact Section */
.contact {
  max-width: 500px;
  margin: 80px auto;
  background: rgba(0,0,0,0.3);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.contact h2 {
  margin-bottom: 10px;
}

.contact p {
  margin-bottom: 20px;
}

.contact input,
.contact textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  outline: none;
}

.contact textarea {
  height: 100px;
}

.contact button {
  width: 100%;
  padding: 12px;
  background: #ffeb3b;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.contact button:hover {
  background: white;
}

#successMsg {
  margin-top: 15px;
  color: #00ffcc;
}
.features, .why {
  margin: 80px auto;
  text-align: center;
  max-width: 900px;
}

.features h2, .why h2 {
  margin-bottom: 20px;
}

.feature-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.feature-box div {
  background: rgba(0,0,0,0.3);
  padding: 20px;
  border-radius: 10px;
}
